<div class="container p-5 text-center">

        <h1 class="text-danger">Product Details</h1>
        <p class="my-2">product Name:{{product.name}}</p>
        <p class="my-2">product Price:{{product.price}}</p>
        <p class="my-2">product Quantity:{{product.quantity}}</p>
     <div class="my-2">
        <i class="bi bi-star-fill text-warning"></i>
        <i class="bi bi-star-fill text-warning"></i>
        <i class="bi bi-star-fill text-warning"></i>
        <i class="bi bi-star-fill text-warning"></i>
        <i class="bi bi-star-fill text-warning"></i>

     </div>
     <button (click)="backToProduct()" class="btn btn-outline-danger p-2 " >Back to products</button>
 </div>

